<div class="bg-gray-100">
    <div class="w-4/5 mx-auto py-12">
      <div class="bg-white shadow-lg rounded-lg p-8 w-4/5 mx-auto">
        <h1 class="text-2xl font-bold mb-6">Политика конфиденциальности и защиты персональных данных</h1>
  
        <p class="mb-4">1. Настоящий документ определяет политику Общества с ограниченной ответственностью "Мёдный Дом" (далее по тексту – Общество) в отношении обработки и защиты персональных данных потребителей (далее – Положение).</p>
        <p class="mb-4">Общество зарегистрировано в Едином государственном регистре юридических лиц и индивидуальных предпринимателей с регистрационным номером 192254539.</p>
        <p class="mb-4">Юридический/почтовый адрес Общества: 20020, г. Быхов, ул. Победителей, 103, 2-ой этаж, помещение 5</p>
        <p class="mb-4">2. Настоящее Положение разработано в соответствии с законодательством Республики Беларусь и действует в отношении персональных данных субъектов персональных данных (далее – потребителей), собираемых, обрабатываемых Обществом, которые могут быть получены от потребителей при заполнении предложенных анкет и иными не противоречащим законодательству Республики Беларусь способами.</p>
        <p class="mb-4">3. Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных) и которая может быть использована для идентификации определенного лица либо связи с ним.</p>
        <p class="mb-4">4. Целью настоящего Положения является защита интересов потребителей, Общества, определение основ по работе с персональными данными потребителей в Обществе.</p>
        <p class="mb-4">5. Обработка персональных данных в Обществе основана на принципах:</p>
        <ul class="list-disc ml-5">
            <li class="mb-4">обеспечения защиты прав и свобод человека и гражданина;</li>
            <li class="mb-4">добровольности предоставления;</li>
            <li class="mb-4">добросовестности;</li>
            <li class="mb-4">обработке подлежат только те персональные данные, которые отвечают целям их обработки;</li>
            <li class="mb-4">соответствие содержания и объема обрабатываемых персональных данных заявленным целям. Собираемые обрабатываемые персональные данные не являются избыточными по отношению к заявленным целям;</li>
            <li class="mb-4">хранения персональных данных в форме, позволяющей определить субъекта персональных данных не дольше, чем этого требуют цели;</li>
            <li class="mb-4">конфиденциальности.</li>
        </ul>
        <p class="mb-4">6. Обработка персональных данных потребителей осуществляется с согласия потребителя на обработку его персональных данных.</p>
        <p class="mb-4">7. Общество осуществляет обработку следующих персональных данных потребителей:</p>
        <ul class="list-disc ml-5">
            <li class="mb-4">фамилия, имя, отчество;</li>
            <li class="mb-4">Адрес;</li>
            <li class="mb-4">дата рождения;</li>
            <li class="mb-4">E-mail;</li>
            <li class="mb-4">телефон;</li>
        </ul>
        
        <p class="mb-4">8. Потребитель самостоятельно и добровольно предоставляет указанные персональные данные, а также дает согласие на обработку и передачу предоставленных персональных данных, также может дополнительно предоставлять данные, не указанные в пункте 7.</p>
        <p class="mb-4">9. Общество получает персональные данные непосредственно у Потребителей.</p>
        <p class="mb-4">10. Общество обрабатывает персональные данные автоматизированными и неавтоматизированными способами, с использованием средств вычислительной техники и без использования таких средств.</p>
        <p class="mb-4">11. Действия по обработке персональных данных включают сбор и хранение.</p>
        <p class="mb-4">12. Общество обрабатывает персональные данные Потребителя в рамках правоотношений с ним в соответствии с законодательством Республики Беларусь.</p>
        <p class="mb-4">13. Общество обрабатывает персональные данные Потребителя с соблюдением норм законодательства Республика Беларусь с целью:</p>
        <p class="mb-4">13.1. приема обращений и заявок от Потребителей;</p>
        <p class="mb-4">13.2. информирования о новых товарах/услугах, специальных акциях и предложениях;</p>
        <p class="mb-4">13.3. информационной рассылки.</p>
        <p class="mb-4">14. Меры по обеспечению безопасности персональных данных при их обработке, применяемые Обществом, планируются и реализуются в целях обеспечения соответствия требованиям Закона, а также иных законодательных актов Республики Беларусь.</p>
        <p class="mb-4">15. Потребитель имеет право:</p>
        <p class="mb-4">15.1. на запрос о предоставлении используемых персональных данных;</p>
        <p class="mb-4">15.2. на уточнение (изменение) его персональных данных в случае, если они являются неполными, устаревшими, неточными;</p>
        <p class="mb-4">15.3. на отзыв данного им согласия на обработку персональных данных;</p>
        <p class="mb-4">15.4. на обжалование действий или бездействия Общества в уполномоченный орган по защите прав потребителей или в судебном порядке по месту нахождения Общества.</p>
        <p class="mb-4">16. Положение и отношения между Обществом и Потребителем регулируются и толкуются в соответствии с законодательством Республики Беларусь. Вопросы, не урегулированные Положением, подлежат разрешению в соответствии с законодательством Республики Беларусь.</p>
        <p class="mb-4">17. Положение представляет собой публичную оферту, в соответствии с частью 2 статьи 407 Гражданского Кодекса Республики Беларусь. Факт проставления отметки о согласии с содержанием Соглашения Потребителем на Сайте является полным и безоговорочным акцептом настоящего Соглашения. Незнание положений Соглашения не освобождает Потребителя от ответственности за несоблюдение его условий.</p>
        <p class="mb-4">18. Общество оставляет за собой право по своему личному усмотрению изменять и (или) дополнять Положение в любое время без предварительного и (или) последующего уведомления Потребителя. Действующая редакция Соглашения доступна в интерфейсе Сайта <a [routerLink]="'/privacy-policy'" class="text-amber-500 cursor-pointer">https://sushi-master.by/privacy-policy.</a></p>
        <p class="mb-4">19. Действующая редакция Положения является публичным документом, разработана Обществом и доступна любому Потребителю.</p>
        <p class="mb-4">20. Настоящее Положение вступает в силу с даты утверждения руководителем Общества. </p>
       </div>
    </div>
</div>