<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <div class="flex items-center justify-center w-20 h-20 mx-auto mb-6 rounded-full ">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
                <path fill="#f44336" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#fff" d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"></path><path fill="#fff" d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"></path>
            </svg>
        </div>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Проблема с оплатой</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Произошла проблема с оплатой, проверьте введенные данные и повторите попытку позже.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a [routerLink]="'/'" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><span aria-hidden="true">&#8592;</span> Вернуться на главную</a>
    </div>
    </div>
</main>